Mood-Based Music Playlist Generator with Telegram Bot Integration.json
{
  "name": "Mood-Based Music Playlist Generator with Telegram Bot Integration",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "884b4b75-ffee-41d3-9319-c0cd10b1baa8",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2704,
        1024
      ],
      "webhookId": "2d97c904-fa45-466c-a162-210eac060836",
      "credentials": {
        "telegramApi": {
          "id": "7aOTC7NVEbsX5VIm",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "userName",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e3927db-c7cc-44f6-ba49-64495a9f2596",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        1024
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Workflow Configuration').item.json.chatId }}",
        "contextWindowLength": 10
      },
      "id": "0db55c7d-6af7-41af-8fc3-d906f8b13c68",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3280,
        1248
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Workflow Configuration').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "14e52e39-c472-46fb-a2ce-d17eb536b760",
      "name": "Send Playlist to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3840,
        1024
      ],
      "webhookId": "da4984bf-d0b7-4b24-877f-719546347b69",
      "credentials": {
        "telegramApi": {
          "id": "HxDBd4PlMMrBGPI5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search for Spotify playlists based on user's mood, genre, or preferences. Returns playlist information including names and Spotify URLs that users can click to access.",
        "resource": "playlist",
        "operation": "search",
        "query": "={{ $fromAI('search_query', 'The search keyword or phrase to find playlists based on mood, genre, or preferences', 'string') }}",
        "limit": 10,
        "filters": {}
      },
      "id": "c05b7d96-3bed-4c58-b180-73322a582522",
      "name": "Spotify Tool",
      "type": "n8n-nodes-base.spotifyTool",
      "typeVersion": 1,
      "position": [
        3408,
        1248
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "3WMeWFS4aPqEV999",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3104,
        1216
      ],
      "id": "52b6b876-c675-42c8-86d5-4dcc7a0bbfd1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "er5yZ4t44e2i9N6d",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4119c902-8fe8-4dc2-bf74-996c63f1e105",
      "name": "Format Playlist Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3616,
        1024
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "You are a helpful Spotify playlist assistant. When users ask for music recommendations, use the Spotify tool to search for relevant playlists based on their mood, genre, or preferences. Always provide the top 10 playlist results with clickable Spotify links in this format:\n\n🎵 **Top 10 Playlists for You:**\n\n1. [Playlist Name](spotify_url)\n2. [Playlist Name](spotify_url)\n...\n10. [Playlist Name](spotify_url)\n\nMake sure all URLs are complete and clickable. Be friendly and conversational."
        }
      },
      "id": "645bc181-fe96-4647-9b19-920056cf0ef1",
      "name": "Playlist Generator Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3216,
        1024
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Playlist Generator Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Playlist Generator Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Spotify Tool": {
      "ai_tool": [
        [
          {
            "node": "Playlist Generator Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Playlist Generator Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Playlist Message": {
      "main": [
        [
          {
            "node": "Send Playlist to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Playlist Generator Agent1": {
      "main": [
        [
          {
            "node": "Format Playlist Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "eb8f6ee8-e26c-4b7f-8488-53979177a399",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8a12aece989b6bb434c3a7325520aa4688284ba602397d624f1467b14b5d56e"
  },
  "id": "s27xzVHzr-If3EKEB_Xjz",
  "tags": []
}